In [82]:
import pandas as pd
import numpy as np
from functions import houseFunctions as hfunc
import pickle

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [2]:
houseResFile = "Datasets/fec/1976-2016-house.csv"

In [3]:
winners_df, winners2_df  = hfunc.load_data(houseResFile, minYear=2002)
winners_df, winners2_df = hfunc.clean_index(winners_df), hfunc.clean_index(winners2_df)
data = hfunc.fetch_trimmed_data(winners_df, winners2_df, minYear=2004)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)

In [4]:
data.head()

,district,state,year,party,candidatevotes,totalvotes,candidate,national_poll,national_poll_prev,national_poll_delta_subtract,...,dem_win_margin_prev,rep_win_margin_prev,margin_signed_minus_prev,margin_signed_divide_prev,margin_unsigned_minus_prev,margin_unsigned_divide_prev,dem_win_prev,rep_win_prev,dem_win,rep_win
AK_01_2004,1,AK,2004,republican,213216.0,299996.0,Don Young,3.680556,-0.989011,4.669567,...,0.172827,0.745131,-0.572304,0.231942,0.572304,4.311431,0.0,1.0,0.0,1.0
AL_01_2004,1,AL,2004,republican,161067.0,255164.0,Jo Bonner,3.680556,-0.989011,4.669567,...,0.377795,0.604980,-0.227185,0.624475,0.227185,1.601345,0.0,1.0,0.0,1.0
AL_02_2004,2,AL,2004,republican,177086.0,247947.0,Terry Everett,3.680556,-0.989011,4.669567,...,0.295241,0.687538,-0.392296,0.429418,0.392296,2.328732,0.0,1.0,0.0,1.0
AL_03_2004,3,AL,2004,republican,150411.0,245784.0,Mike Rogers,3.680556,-0.989011,4.669567,...,0.482008,0.503076,-0.021068,0.958122,0.021068,1.043709,0.0,1.0,0.0,1.0
AL_04_2004,4,AL,2004,republican,191110.0,255724.0,Robert B. Aderholt,3.680556,-0.989011,4.669567,...,0.129472,0.867189,-0.737717,0.149300,0.737717,6.697910,0.0,1.0,0.0,1.0

In [10]:
set(data['year'].values)

{2004, 2006, 2008, 2010, 2012, 2014, 2016}

In [5]:
# #hfunc.fetch_index(winners_df, save=True, load=False)

In [69]:
houseResFile = "Datasets/fec/2018wiki-12072018.csv"
wiki2018 = pd.read_csv(houseResFile, header=None)
wiki2018.columns = ['location', 'PVI', 'representative', 'party', 'first_elected', 'results', 'candidates']
wiki2018 = wiki2018[['location', 'representative', 'party', 'results', 'candidates']]
wiki2018 = wiki2018[~(pd.isnull(wiki2018['location']))]
wiki2018.head()

,location,representative,party,results,candidates
0,Alabama 1,Bradley Byrne,Republican,Incumbent re-elected.,√ Bradley Byrne (Republican) 63.3%[64]
2,Alabama 2,Martha Roby,Republican,Incumbent re-elected.,√ Martha Roby (Republican) 61.5%[64]
4,Alabama 3,Mike Rogers,Republican,Incumbent re-elected.,√ Mike Rogers (Republican) 63.8%[64]
6,Alabama 4,Robert Aderholt,Republican,Incumbent re-elected.,√ Robert Aderholt (Republican) 79.9%[64]
8,Alabama 5,Mo Brooks,Republican,Incumbent re-elected.,√ Mo Brooks (Republican) 61.1%[64]

In [70]:
state_names = np.array(['ALABAMA', 'ALASKA', 'ARIZONA', 'ARKANSAS',
'CALIFORNIA',
               'COLORADO', 'CONNECTICUT', 'DELAWARE', 'FLORIDA', 'GEORGIA',
               'HAWAII', 'IDAHO', 'ILLINOIS', 'INDIANA', 'IOWA', 'KANSAS',
               'KENTUCKY', 'LOUISIANA', 'MAINE', 'MARYLAND', 'MASSACHUSETTS',
               'MICHIGAN', 'MINNESOTA', 'MISSISSIPPI', 'MISSOURI', 'MONTANA',
               'NEBRASKA', 'NEVADA', 'NEW HAMPSHIRE', 'NEW JERSEY',
'NEW MEXICO',
               'NEW YORK', 'NORTH CAROLINA', 'NORTH DAKOTA', 'OHIO',
'OKLAHOMA',
               'OREGON', 'PENNSYLVANIA', 'RHODE ISLAND', 'SOUTH CAROLINA',
               'SOUTH DAKOTA', 'TENNESSEE', 'TEXAS', 'UTAH', 'VERMONT',
               'VIRGINIA', 'WASHINGTON', 'WEST VIRGINIA', 'WISCONSIN',
'WYOMING'])

state_abbrs = np.array(['AL','AK','AZ','AR','CA','CO','CT','DE','FL','GA','HI','ID','IL',
              'IN','IA','KS','KY','LA','ME','MD','MA','MI','MN','MS','MO','MT',
              'NE','NV','NH','NJ','NM','NY','NC','ND','OH','OK','OR','PA','RI',
              'SC','SD','TN','TX','UT','VT','VA','WA','WV','WI','WY'])

In [78]:
def clean_location(row):
    index_0_string = 'at-large'
    if row['location'][-len(index_0_string):] == index_0_string:
        row['district'] = 1
        row['state_po'] = row['location'][:-len(index_0_string)].strip()
    else:
        index = None
        for cursor, char in enumerate(row['location'][::-1]):
            if not char.isnumeric():
                index = cursor
        row['district'] = row['location'][index-1:].strip()
        row['state_po'] = row['location'][:index-1].strip()

    row['state_po'] = state_abbrs[np.where(state_names == row['state_po'].upper())][0]
    row['year'] = 2018
    
    return row
set(wiki2018.apply(clean_location, axis=1).drop('location', axis=1)['party'].values)

{'Democratic', 'Republican', nan}

In [84]:
wiki2018[pd.isnull(wiki2018.apply(clean_location, axis=1).drop('location', axis=1)['party'])][['location','party','results']]

             location party                                            results
209         Florida 6   NaN  Rep. Ron DeSantis (R) resigned after the filin...
527       Michigan 13   NaN  Predecessor, John Conyers (D) resigned Decembe...
824        Oklahoma 1   NaN  Rep. Jim Bridenstine (R) resigned after the fi...
866    Pennsylvania 4   NaN                Incumbent ran in the 10th district.
869    Pennsylvania 5   NaN  Rep. Pat Meehan (R) resigned April 27, 2018 af...
875    Pennsylvania 7   NaN  Rep. Charlie Dent (R) resigned May 12, 2018 af...
894   Pennsylvania 14   NaN                Incumbent ran in the 17th district.
1149  West Virginia 3   NaN  Rep. Evan Jenkins (R) resigned after the filin...

In [31]:
for index, row in wiki2018.iterrows():
    wiki2018

(0, location                                       Alabama 1
representative                             Bradley Byrne
party                                         Republican
results                            Incumbent re-elected.
candidates        √ Bradley Byrne (Republican) 63.3%[64]
Name: 0, dtype: object)
<class 'tuple'>
2

AttributeError: 'tuple' object has no attribute 'shape'

In [6]:
pickle.dump(data, open('Datasets/data.p', 'wb'))

In [7]:
import pandas as pd
import numpy as np
from functions import houseFunctions as hfunc
import pickle
dataset = pickle.load(open('Datasets/data.p', 'rb'))

In [8]:
dataset = dataset.loc[:,['dem_win', 'dem_win_prev', 'margin_signed_minus_prev', 'national_poll']]
dataset.columns

Index(['dem_win', 'dem_win_prev', 'margin_signed_minus_prev', 'national_poll'], dtype='object')

In [9]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? n
Nothing done.